:root {
    --pure-black: #000000;
    --headerHover: #ff793b;
    --background: #ffffff;
    --white: #fff;
    --soft-text-black: #1b1b1b;
    --soft-white: #e8e8e8be;
    --black-card: #212121;
    --orange: #FF6C26;
    --orange-dark: #E66022;
    --orange-complement-dark: #00B3A0;
    --orange-complement: #26FFE9;
    --orange-light: #FF8C55;
    --blue: #1D84FE;
    --purple: #6562FF;
    --gray-light: #ffffffd8;
}