* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.5%;
}

body {
    width: 100%;
    background: var(--black);
    overflow: auto;
}

iframe {
    width: 100%;
    height: 100%; 
    border: none; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    display: block;
    overflow: hidden;
}

#loc {
    background: var(--black);
}

#container-main {
    width: min(90vw, 800px);
    margin-inline: auto;
    padding: 1rem;
}

.page-header{
    width: min(90vw, 800px);
    margin-inline: auto;
    text-align: center;
}

.gradient-text{
    background: linear-gradient(to right, var(--orange),var(--blue),var(--purple));
    background-size: 500% 500%;
    animation: rainbow-text-animation 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
    transition: color .2s ease-in-out;
}

.gradient-text:hover{
    color:rgba(0,0,0,0);
}
@keyframes rainbow-text-animation { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
}

/* ======== RESPONSIVE ======== */


@media (max-width: 800px) {
    html {
        font-size: 87.75%;  
    }
    .main-body {
        height: 250vh;
    }

    iframe{
        height: min(20vw, 40vw);
    }
}

@media (width: 768px) {
    html {
        font-size: 75.75%;
    }
    
    .main-body {
        height: 150vh;
    }
    
    .title-page {
        text-align: center;
    }
}

@media (width: 1024px) {
    html {
        font-size: 70%;
    }
    .main-body {
        height: 170vh;
    }
}

@media (width: 1280px) {
    html {
        font-size: 70%;
    }
    iframe {
        width: 80%;
    }
    .page-header {
        padding-right: 15rem;
    } 
    .card {
        width: min(40vw, 710px);
    }

    .section-cards{
        padding-right: 15rem;
    }
}
