.title-card {
    display: contents;
    text-transform: uppercase;
    color: var(--white);
}

.container-title {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}  


.container-cards {
    display: flex;
    justify-content: center;
}

.img-team {
    width: 100%;
}

.member-img {
    width: 8%;
    border-radius: 20%;
}

.cargos {
    position: absolute;
}

.title-page.as-is{
    font-size: 2rem;
}

.title-page {
    width: 100%;
    font: 500 3rem Roboto, sans-serif;
    text-transform: uppercase;
    color: var(--white);
}