spam{
    color: var(--orange);
}

.container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.title-page.as-is{
    font-size: 2rem;
}

.title-page {
    width: 100%;
    font: 500 3rem Roboto, sans-serif;
    text-transform: uppercase;
    color: var(--white);
}

.text-card{
    font-size: 1.3rem;
    width: 100%;
}

.spam-card:hover{
    font-size: 1.3rem;
    cursor: pointer;
}

#google_translate_element{
    margin-top: 2rem;
}

/* ======== RESPONSIVE ======== */
@media (max-width: 800px) {
    
    .text-card{
        font-size: 1rem;
        width: 100%;
    }
}

